---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const {
    title,
    description = "",
    pubDate,
    categories,
    image,
    imageAlt = "",
} = post.data;
---

<Layout {title} {description}>
    <h1 class="text-3xl">{post.data.title}</h1>
    {image && <img src={image} alt={imageAlt} />}
    <slot />
</Layout>
