---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import PostMeta from "../components/PostMeta.astro";

interface Props {
    post: CollectionEntry<"blog">;
}

const {
    title,
    description = "",
    pubDate,
    categories,
    image,
    imageAlt = "",
} = Astro.props.post.data;
---

<Layout title={title ?? "Blog post"} {description}>
    {image && <img src={image} alt={imageAlt} />}
    <div class="prose dark:prose-invert max-w-full wrap-break-word">
        <h1>{title}</h1>
        <PostMeta
            pubDate={pubDate}
            categories={categories}
        />
        <slot />
    </div>
</Layout>
